<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brain.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @brain.email %>
</p>

<p>
  <strong>Date:</strong>
  <%= @brain.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brain.description %>
</p>

<div class="row">
	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
<% @brain.photos.each do |photo| %>
	<%= image_tag(photo.image)%>
<% end %>
</a>
</div>
</div>
<%= link_to 'Edit', edit_brain_path(@brain) %> |
<%= link_to 'Back', brains_path %>
