<!DOCTYPE html>
<html>
<head>
  <title>Brains</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to root_path do %>
<img src="http://bwsurvey.businessweekly.com.tw/event/2013/swcb/images/content_01_01.gif">
<% end %>
<%= yield %>

</body>
</html>
